.filters {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    min-height: 8px;
    padding: 20px;
    z-index: 10;
    background-color: #EFEFEF;
}

.filtersContainer {
    padding-top: 30px;
}

@media screen and (min-width: 720px) {
    .filtersContainer {
        padding-top: 0;
    }
}

.filtersContainer.closed {
    display: none;
} 

@media screen and (min-width: 1050px) {
    .filters {
        position: relative;
        top: auto;
        left: auto;
        width: 250px;
        padding: 10px;
    }

    .toggle-button {
        display: none
    }

    .filtersContainer {
        min-height: 470px;
    }

    .filtersContainer.closed {
        display: block;
    }
}

.filterContainer {
    margin-bottom: 20px;
}

.filterTitle {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
    padding: 4px 4px 8px;
}

.checkboxContainer label {
    display: inline-block;
    padding-left: 4px;
}

.select-filters {
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    top: 20px;
    border: 0;
    font-size: 17px;
    text-transform: uppercase;
    padding: 18px;
    margin-top: 20px;
    background-color: skyblue;
}

@media screen and (min-width: 1050px) {
    .select-filters {
        display: none;
    }
}

.mobileMenuButton {
    position: fixed;
    display: block;
    text-align: center;
    top: 14px;
    left: 14px;
    transition: all .5s ease;
    cursor: pointer;
    z-index: 9000;
}

@media screen and (min-width: 1050px) {
    .mobileMenuButton {
        display: none;
    }
}

.mobileMenuButton .hamburger_icon {
    font-size: 1.258em;
    display: block;
    width: 28px;
    height: 20px;
    position: relative;
}

.mobileMenuButton .hamburger_icon:before,
.mobileMenuButton .hamburger_icon:after,
.mobileMenuButton .hamburger_icon span {
    background: #000;
    width: 20px;
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    transition: none .5s ease;
    transition-property: transform, top, bottom, left, opacity, background;
    top: 0;
}

.mobileMenuButton .hamburger_icon span {
    top: 8px;
    left: 0;
}

.mobileMenuButton .hamburger_icon:after {
    top: 16px;
}

.mobileMenuButton.moved .hamburger_icon:before,
.mobileMenuButton.moved .hamburger_icon:after {
    top: 8px;
}

.mobileMenuButton.moved .hamburger_icon:before,
.mobileMenuButton.moved .hamburger_icon:after,
.mobileMenuButton.moved .hamburger_icon span {
    border-radius: 5px;
}

.mobileMenuButton.moved .hamburger_icon:before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mobileMenuButton.moved .hamburger_icon:after {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.mobileMenuButton.moved .hamburger_icon span {
    left: -50px;
    opacity: 0;
}

.mobileMenuButton .menu_txt {
    position: absolute;
    top: -3px;
    left: 28px;
    width: 100px;
    margin-top: 0.6em;
    color: #000000;
    font-size: 7px;
    font-size: .7rem;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}