.slideContainer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    position: relative;
    width: 200px;
}

/*.custom-slider {
    position: absolute;
    width: 200px;
    border-radius: 3px;
    height: 5px;
    background-color: #ced4da;
    opacity: 0.8;
    outline: none;
    transition: 0.3s;
    -webkit-appearance: none;
}

.custom-slider:hover {
    opacity: 1;
}


.custom-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background-color: #9fe5e1;
}

.custom-slider::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
    -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
}

.custom-slider::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
        -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
}*/

.slider__right-value {
    position: absolute;
    right: -4px;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
}

/* === range theme and appearance === */
.custom-slider {
    position: absolute;
    width: 200px;
    font-size: 1.99rem;
}

.custom-slider {
    color: #9fe5e1;
    --thumb-height: 18px;
    --track-height: 0.125em;
    --track-color: #ced4da;
    --clip-edges: 0.125em;
}


/* === range commons === */
.custom-slider {
    background: transparent;
}

.custom-slider:active {
    cursor: grabbing;
}

.custom-slider:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}

/* === WebKit specific styles === */
.custom-slider,
.custom-slider::-webkit-slider-runnable-track,
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

.custom-slider::-webkit-slider-runnable-track,
.custom-slider::-webkit-slider-thumb {
    position: relative;
}

.custom-slider::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(100% -1px,
            var(--clip-edges) -1px,
            0 var(--clip-top),
            -100vmax var(--clip-top),
            -100vmax var(--clip-bottom),
            0 var(--clip-bottom),
            var(--clip-edges) 100%,
            var(--clip-further) var(--clip-further));
}

.custom-slider:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
}

.custom-slider:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
}

.custom-slider::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

.custom-slider:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

/* === Firefox specific styles === */
.custom-slider,
.custom-slider::-moz-range-track,
.custom-slider::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

.custom-slider::-moz-range-track,
.custom-slider::-moz-range-thumb,
.custom-slider::-moz-range-progress {
    background: #ced4da;
}

.custom-slider::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
}

.custom-slider:active::-moz-range-thumb {
    cursor: grabbing;
}

.custom-slider::-moz-range-track {
    width: 100%;
    background: var(--track-color);
}

.custom-slider::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
}

.custom-slider::-moz-range-track,
.custom-slider::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
}

.custom-slider::-moz-range-thumb,
.custom-slider::-moz-range-progress {
    filter: brightness(100%);
}

.custom-slider:hover::-moz-range-thumb,
.custom-slider:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
}

.custom-slider:active::-moz-range-thumb,
.custom-slider:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
}

.custom-slider:disabled::-moz-range-thumb {
    cursor: not-allowed;
}